---
import Layout from "../layouts/Layout.astro";
const title = "Home";
const heading = "Die Referenz für Teppiche und Kelims in Bern. Seit 1985";
import people from "../data/smple.json";
---

<Layout title={title}>
	<h1 class="text-4xl font-bold text-red-500">{heading}</h1>
	<ul>{people.map((person) => <li>{person.name} - {person.occupation} - {person.email}</li>)}</ul>
</Layout>
