---
import Email from "./ui/icons/Email.astro";
import Logo from "./ui/icons/Logo.astro";
import Phone from "./ui/icons/Phone.astro";
import Menu from "./ui/icons/Menu.astro";
import Close from "./ui/icons/Close.astro";

const links = [
  { href: "/referenzen", label: "Referenzen" },
  { href: "/kompetenzen", label: "Kompetenzen" },
  { href: "/ueber-uns", label: "Über uns" },
];
---

<header class="p-4">
  <a href="#main" class="sr-only">Zum Inhalt springen</a>
  <nav class="lg:container lg:mx-auto">
    <div class="flex justify-between items-center">
      <a href="/" class="flex-0" aria-label="Startseite">
        <Logo width={100} height={73} />
      </a>
      <div class="flex-1 flex justify-end items-center">
        <ul class="hidden lg:flex lg:ml-auto">
          {
            links.map((link) => (
              <li class="mt-4 lg:px-4 lg:mt-0">
                <a
                  href={link.href}
                  class="text-xl text-primary block p-4 lg:p-2 border-b border-transparent hover:border-b-primary transition-colors"
                  aria-label={link.label}
                >
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
        <a
          href="tel:+41313120604"
          class="text-xl text-primary block mx-4 p-4 lg:p-2 border rounded-full border-transparent hover:border-primary transition-colors"
          aria-label="Rufen Sie uns an"
        >
          <Phone class="w-full h-full" />
        </a>
        <a
          href="mailto:info@atelier-irmak.ch"
          class="text-xl text-primary block mx-4 p-4 lg:p-2 border rounded-full border-transparent hover:border-primary transition-colors"
          aria-label="Kontaktieren Sie uns via E-Mail"
        >
          <Email class="w-full h-full" />
        </a>
      </div>
      <button
        id="mobile-nav-toggle"
        class="lg:hidden text-xl text-primary block mx-4 p-4 lg:p-2 border rounded-full border-transparent hover:border-primary transition-colors"
        aria-expanded="false"
        aria-controls="mobile-nav"
      >
        <span>
          <Menu class="hidden" ariaLabel="Menü" />
        </span>
        <span>
          <Close class="hidden" ariaLabel="Schliessen" />
        </span>
      </button>
      <ul
        id="mobile-nav"
        class="inset-0 top-25 pt-16 z-20 absolute p-4 bg-white lg:hidden!"
      >
        {
          links.map((link) => (
            <li class="lg:px-4 border-b first:border-t border-primary">
              <a
                href={link.href}
                class="text-xl text-primary block py-4"
                aria-label={link.label}
              >
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</header>

<style>
  /* Toggle mobile nav based on aria-expanded */
  [aria-expanded="true"] + #mobile-nav {
    display: block;
  }
  [aria-expanded="false"] + #mobile-nav {
    display: none;
  }
  /* Toggle icons inside the button based on aria-expanded */
  [aria-expanded="true"] *:first-child {
    display: none;
  }
  [aria-expanded="false"] *:last-child {
    display: none;
  }
</style>

<script>
  const navToggle = document.querySelector('[aria-controls="mobile-nav"]');

  navToggle?.addEventListener("click", () => {
    const isExpanded =
      navToggle.getAttribute("aria-expanded") === "true" ? true : false;
    if (isExpanded) {
      navToggle?.setAttribute("aria-expanded", "false");
    } else {
      navToggle?.setAttribute("aria-expanded", "true");
    }
  });
</script>
